$colorList: (1: #eb2f96, 2: #fa541c, 3: #faad14, 4: #52c41a, 5: #1890ff, 6: #722ed1);

// 今日活跃用户 新增用户等
.totalWrap {
  [class*="ant-card-body"] {
    text-align: center;
  }

  [class*="ant-card-meta-description"] {
    color: rgba(0, 0, 0, .65);
  }
}

// 颜色：今日活跃用户 新增用户等
@each $i, $color in $colorList {
  .color#{$i} {
    color: $color;
  }
}

.total {
  font-size: 32px;
}

// 图表
.chartWrap {
  margin-top: 24px;
  min-height: 450px;
}

// 表格
.tableWrap {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12),
              0 0 6px 0 rgba(0, 0, 0, .04);

  [class*="ant-table-title"] {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }
  
  [class*="ant-table-thead"] th {
    text-align: center;
  }
}
